<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <h1>Delete a class page</h1>
    <table align="center">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Teacher</th>
                <th>Location</th>
                <th>Text Book</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbl2" class="rows">
            {{#each classList}}
            <tr>
                <td id="fn">{{ClassName}}</td>
                <td id="ln">{{LastName}}</td>
                <td>{{Location}}</td>
                <td>{{TextBook}}</td>
                <td><a href="/deleteClass/{{ID}}">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>