<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <h1>Delete a club page</h1>
    <table align="center">
        <thead>
            <tr>
                <th>Club ID</th>
                <th>Club Name</th>
                <th>Adviser</th>
                <th>Location</th>
                <th>Delete</th>
                <th>View Students in this Club</th>
            </tr>
        </thead>
        <tbody id="tbl2" class="rows">
            {{#each clubList}}
            <tr>
                <td>{{ClubID}}</td>
                <td>{{ClubName}}</td>
                <td>{{LastName}}</td>
                <td>{{ClubLocation}}</td>
                <td><a href="/deleteClub/{{ClubID}}">Delete</a></td>
                <td>student list</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>