<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Find a student page</h1>
    <h2>Please enter the first and last name of the student</h2>
    <form>
        First name:<br>
        <input type="text" name="firstname" maxlength="100" id="fname">
        <br>
        Last name:<br>
        <input type="text" name="lastname" maxlength="100" id="lname">
        <br><br>
        <input type="submit" value="Submit" id="stusub">
    </form>
    <table align="center">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>House</th>
                <th>Familiar</th>
                <th>Delete</th>
            </tr>
            </thead>
        <tbody id ="tbl" class="rows">
            {{#each student}}
            <tr>
                <td id="fn">{{FirstName}}</td>
                <td id="ln">{{LastName}}</td>
                <td>{{GradeLevel}}</td>
                <td>{{House}}</td>
                <td>{{familiar}}</td>
                <td><a href="/findStudent/{{id}}">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="/findStudent.js"></script>
</body>
</html>