<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <h1>Select a house:</h1>
    <form id="getHouse" action="./houseInfo" method="post">
        House:<br>
        <select name="house">
            {{#each house}}
            <option value="{{ID}}">{{HouseName}}</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Submit" id="housesub">
    </form>
    {{#if info}}
    <h1>{{info.HouseName}}</h1>
    <h5>Head of House: {{info.FirstName}} {{info.LastName}}</h5>
    <h5>Location: {{info.Location}}</h5>
    <h5>House Colors: {{info.HouseColors}}</h5>
    <h5>House Ghost: {{info.HouseGhost}}</h5>
    <h5>House Mascot: {{info.HouseMascot}}</h5>
    <h5>Student List for: {{info.HouseName}}</h5>
    {{/if}}
    <table align="center">

        <thead>
            {{#if stuList}}
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Familiar</th>
            </tr>
            {{/if}}
        </thead>
        <tbody id="tbl2" class="rows">
            {{#each stuList}}
            <tr>
                <td id="fn">{{FirstName}}</td>
                <td id="ln">{{LastName}}</td>
                <td>{{GradeLevel}}</td>
                <td>{{familiar}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
